<%- include("./partials/header") -%>
    <div class="home">
        <div class="header">
            <h1>Library Management System</h1>
        </div>
        <div class="login-links">
            <ul class="home-link">
                <li> <a href="/userregistration">User Registration</a></li>
                <li> <a href="/searchbooks">Search Books</a></li>
                <li><a href="/adminlogin">Admin Login</a></li>
                <li><a href="/userlogin">User Login</a></li>
            </ul>
        </div>
    </div>
    <%- include("./partials/footer") -%>