<div class="search-book">
    <form action="/searchbook" method="post" autocomplete="off">
        <select name="category" id="category">
            <option value="" disabled selected hidden>Search Category</option>
            <option value="Author">Author Name</option>
            <option value="book">Book Name</option>
        </select>
        <input type="text" name="searchinput" placeholder="Search Here ..." >
        <button type="submit"> Search </button>
    </form>
</div>